@import 'shared/styles/variables.scss';

:local(.Home) {
  position: absolute;
  top: 10rem;
  width: 100%;
  height: $content-size;

  font-family: $default-font;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  .content {
    margin-top: 1rem;

    p {
      ;
    }
  }

}
