@import 'shared/styles/variables.scss';

:local(.Header) {
  display: inline-block;
  width: 100vw;
  height: $header-size;
  // overflow-x: auto;
  text-align: center;

  h1 {
    font-family: $header-font;
    font-weight: 300;
    margin-bottom: 2rem;
    font-size: 80px;
    // text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
  }

  .subheader {
    font-family: sans-serif;
    font-size: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-transform: uppercase;
    padding: 3px 0;
  }

  .header-box {
    position: relative;
    width: 16%;
    border: 3px double #2f2f2f;
    padding: 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px;
  }

  .header-icon-right {
    position: relative;
    left: 1px;
  }

}
