@import 'shared/styles/variables.scss';

:local(.Header) {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  height: $header-size;
  font-family: $header-font;
  font-size: 4rem;
  font-weight: 300;
  padding: 3rem;



  .header-icon-left {
    position: relative;
    right: 1px;
  }

  .header-icon-right {
    position: relative;
    left: 1px;
  }

  border-bottom: 1px double black;
}
